<% include ../partials/header %>

<h1><%= cafe.name %></h1>

<img src="<%= cafe.image %>">

<p><%= cafe.description %></p>

<p>
    <a class="btn btn-success" href="/cafes/<%= cafe._id %>/comments/new">Add New Comment</a>
</p>

<% cafe.comments.forEach(function(comment){ %>
    <p><strong><%= comment.author %></strong> - <span><%= comment.text %></span></p>
<% }) %>

<% include ../partials/footer %>